<h3>You are</h3>
<p>Email: <%= @user.email if @user.email %></p>
<br>
Role : <% if @user.role == 2 %>
          <%= render "users/admin" %>
       <% else %>
          <%= render "users/normal_user" %>
       <% end %>
</br>
<h4>YOUR GUITARS</h4>
<% @user.guitars.each do |guitar| %>
  <%= guitar.name %>
<% end %>



<h2>Add a guitar:</h2>
<%= form_for([@user, @user.guitars.build]) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>